.response-header{
    text-align: center;
    margin-top:40px;
}

.response-card {
    width: 90%;
    margin: 60px auto;
    padding: 40px;

    background-color: #f5f8f6;
    border: 1px solid #dce5df;
    border-radius: 18px;

    text-align: center;
}

.response-card h2 {
    margin-bottom: 25px;
}

@media (max-width: 768px) {

    .response-card {
        width: 90%;
        padding: 25px;
        margin: 40px auto;
    }

    .response-header {
        padding: 0 20px;
    }

    .response-header h1 {
        font-size: 2rem;
    }
}
